<!-- ****** COLUMN TABLES BEGINS HERE ****** -->
<!--
<div id="sorting-table" class="column-table sort-filt-table">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Filters</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Client</td>
      <td><i class="fa-solid fa-square-check"></i></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Carrier</td>
      <td><i class="fa-solid fa-square-check"></i></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Vendor</td>
      <td><i class="fa-solid fa-square-check"></i></td>
    </tr>
    </tbody>
  </table>
</div>

-->





<div id="sorting-table" class="column-table sort-filt-table">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sorting</th>
    </tr>
    </thead>


    <tbody>
    <tr>
      <th scope="row"></th>
      <select id="sort-select">
        <option value="client">Client</option>
        <option value="career">Career</option>
        <option value="vendor">Vendor</option>
      </select>
    </tr>
    </tbody>
  </table>
</div>
