<!--
<div id="filter-table" class="column-table sort-filter-table">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sorting</th>
    </tr>
    </thead>
    <tbody>
     <tr>
       <th scope="row">1</th>
       <td>Alphabetically</td>
     </tr>
    <tr>
      <th scope="row">2</th>
      <td>Least to Greatest</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Reverse</td>
    </tr>
    </tbody>
  </table>
</div>
-->





<div id="filter-table" class="column-table sort-filter-table">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sorting</th>
    </tr>
    </thead>


    <tbody>
    <tr>
      <th scope="row"></th>
      <select id="sort-select">
        <option value="alphabetically">Alphabetically</option>
        <option value="least-to-greatest">Least to Greatest</option>
        <option value="reverse">Reverse</option>
      </select>
    </tr>
    </tbody>
  </table>
</div>

