<h1>Details of Data</h1>

<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{ row.branch }}</td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
      <td mat-cell *matCellDef="let row">{{ row.client }}</td>
    </ng-container>

    <ng-container matColumnDef="numberOfEmployees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NumberOfEmployees</th>
      <td mat-cell *matCellDef="let row">{{ row.numberOfEmployees }}</td>
    </ng-container>

    <ng-container matColumnDef="numberOfW2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NumberOfW2</th>
      <td mat-cell *matCellDef="let row">{{ row.numberOfW2 }}</td>
    </ng-container>

    <ng-container matColumnDef="clientType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ClientType</th>
      <td mat-cell *matCellDef="let row">{{ row.clientType }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  </table>

  <mat-paginator [length]="details.length" [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 25, 100]">
  </mat-paginator>
</div>
