<i class="fa-solid fa-floppy-disk"></i>
<div id="data-table-div" class="column-table">
  <!-- LOOKUP TYPE TABLE -->
  <!--   <table class="table table-striped table-hover">
       <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Lookup Type ID</th>
         <th scope="col">Lookup Type</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor = "let lookuptype of lookupTypes; let idx =  index">
         <td> {{ idx + 1 }} </td>
         <td> {{ lookuptype.lookupTypeId }} </td>
         <td> {{ lookuptype.lookupType }} </td>
       </tr>



       </tbody>
     </table>
     &lt;!&ndash; LOOKUP TABLE -TABLE &ndash;&gt;
     <table class="table table-striped table-hover">
       <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Lookup ID</th>
         <th scope="col">Abbreviation</th>
         <th scope="col">Description</th>
         <th scope="col">Full Name</th>
         <th scope="col">Lookup Type ID</th>
         <th scope="col">State</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor = "let lookuptable of lookupTables; let idx =  index">
         <td> {{ idx + 1 }} </td>
         <td> {{ lookuptable.lookupId }} </td>
         <td> {{ lookuptable.abbreviation }} </td>
         <td> {{ lookuptable.description }} </td>
         <td> {{ lookuptable.fullName }} </td>
         <td> {{ lookuptable.lookupTypeId.lookupTypeId }} </td>
         <td> {{ lookuptable.state }} </td>
       </tr>
       </tbody>
     </table>-->

  <!-- VENDOR TABLE -->
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Vendor ID: Client ID</th>
      <th scope="col"> Vendor ID: Branch</th>
      <th scope="col"> Employee Count </th>
      <th scope="col"> W2 Count </th>
      <th scope="col"> Lookup ID </th>
      <th scope="col"> Abbreviation
      <th scope="col"> Description </th>
      <th scope="col"> Full Name </th>
      <th scope="col"> State </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let vendor of vendors; let idx =  index">
      <td> {{ idx + 1 }} </td>
      <td> {{ vendor.vendorId.clientId }} </td>
      <td> {{ vendor.vendorId.branch }} </td>
      <td> {{ vendor.employeeCount }} </td>
      <td> {{ vendor.w2Count }} </td>
      <td> {{ vendor.lookupId.lookupId }}
      <td> {{ vendor.lookupId.abbreviation }} </td>
      <td> {{ vendor.lookupId.description }} </td>
      <td> {{ vendor.lookupId.fullName }} </td>
      <td> {{ vendor.lookupId.state }} </td>
    </tr>
    </tbody>
  </table>

  <!-- CARRIER TABLE -->
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Carrier ID: Client ID</th>
      <th scope="col"> Carrier ID: Branch</th>
      <th scope="col"> Destination Address </th>
      <th scope="col"> Tracking ID </th>
      <th scope="col"> Carrier Lookup ID</th>
      <th scope="col"> Carrier Lookup ID: Abbreviation </th>
      <th scope="col"> Carrier Lookup ID: Description </th>
      <th scope="col"> Carrier Lookup ID: Full Name </th>
      <th scope="col"> Carrier Lookup ID: State </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let carrier of carriers; let idx =  index">
      <td> {{ idx + 1 }} </td>
      <td> {{ carrier.carrierId.clientId }} </td>
      <td> {{ carrier.carrierId.branch }} </td>
      <td> {{ carrier.destinationAddress }} </td>
      <td> {{ carrier.trackingId }} </td>
      <!-- Carrier Lookup ID -->
      <td> {{ carrier.carrierLookupId.lookupId }} </td>
      <td> {{ carrier.carrierLookupId.abbreviation }} </td>
      <td> {{ carrier.carrierLookupId.description }} </td>
      <td> {{ carrier.carrierLookupId.fullName }} </td>
      <td> {{ carrier.carrierLookupId.state }} </td>
      <!-- Delivery Status Type ID --><!--
        <td> {{ carrier.deliveryStatusTypeId.lookupId }} </td>
        <td> {{ carrier.deliveryStatusTypeId.abbreviation }} </td>
        <td> {{ carrier.deliveryStatusTypeId.description }} </td>
        <td> {{ carrier.deliveryStatusTypeId.fullName }} </td>
        <td> {{ carrier.deliveryStatusTypeId.state }} </td>-->

    </tbody>
  </table>

  <!-- CLIENT TABLE -->
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> W2 Transmission ID </th>
      <th scope="col"> Branch </th>
      <th scope="col"> Created Date </th>
      <th scope="col"> Employee Count </th>
      <th scope="col"> Transmission File </th>
      <th scope="col"> W2 Count </th>
      <th scope="col"> W2 Delivery Address </th>
      <th scope="col"> Client Lookup ID </th>
      <th scope="col"> Delivery Code Lookup ID </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let client of clients; let idx =  index">
      <td> {{ idx + 1 }} </td>
      <td> {{ client.w2TransmissionId }} </td>
      <td> {{ client.branch }} </td>
      <td> {{ client.createdDate }} </td>
      <td> {{ client.employeeCount }} </td>
      <td> {{ client.transmissionFile }} </td>
      <td> {{ client.w2Count }} </td>
      <td> {{ client.w2DeliveryAddress }} </td>
      <td> {{ client.clientTypeId.lookupId }} </td>
      <td> {{ client.deliveryCodeTypeId.lookupId }} </td>
    </tbody>
  </table>

  <!-- END data-table-component.html -->
</div>
