<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>



<i class="fa-solid fa-floppy-disk"></i>
<div class="data-table-div column-table">

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col"> Client ID</th>
      <th scope="col"> Branch</th>
      <th scope="col"> Employee Count </th>
      <th scope="col"> W2 Count </th>
      <th scope="col"> Lookup ID </th>
      <th scope="col"> Abbreviation
      <th scope="col"> Description </th>
      <th scope="col"> Full Name </th>
      <th scope="col"> State </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="form-group" style=" margin-bottom: 10px;">
          <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Filter Vendors">
        </div>
      </td>
    </tr>
    <tr *ngFor = "let vendor of vendors | vendor: filter;">
      <td> {{ vendor.vendorId.clientId }} </td>
      <td> {{ vendor.vendorId.branch }} </td>
      <td> {{ vendor.employeeCount }} </td>
      <td> {{ vendor.w2Count }} </td>
      <td> {{ vendor.lookupId.lookupId }}
      <td> {{ vendor.lookupId.abbreviation }} </td>
      <td> {{ vendor.lookupId.description }} </td>
      <td> {{ vendor.lookupId.fullName }} </td>
      <td> {{ vendor.lookupId.state }} </td>
    </tr>
    </tbody>
  </table>


  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col"> Carrier ID</th>
      <th scope="col"> Branch</th>
      <th scope="col"> Dest. Address </th>
      <th scope="col"> Tracking ID </th>
      <th scope="col"> Lookup ID</th>
      <th scope="col"> Abbreviation </th>
      <th scope="col"> Description </th>
      <th scope="col"> Full Name </th>
      <th scope="col"> State </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let carrier of carriers | carrier: filter1; ">
      <td> {{ carrier.carrierId.clientId }} </td>
      <td> {{ carrier.carrierId.branch }} </td>
      <td> {{ carrier.destinationAddress }} </td>
      <td> {{ carrier.trackingId }} </td>
      <td> {{ carrier.carrierLookupId.lookupId }} </td>
      <td> {{ carrier.carrierLookupId.abbreviation }} </td>
      <td> {{ carrier.carrierLookupId.description }} </td>
      <td> {{ carrier.carrierLookupId.fullName }} </td>
      <td> {{ carrier.carrierLookupId.state }} </td>


    </tbody>
  </table>


  <div class="form-group" style=" margin-bottom: 10px;">
    <input type="search" class="form-control" [(ngModel)]="filter2" placeholder="Filter Clients">
  </div>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col"> W2 Transmission ID </th>
      <th scope="col"> Branch </th>
      <th scope="col"> Created Date </th>
      <th scope="col"> Employee Count </th>
      <th scope="col"> Transmission File </th>
      <th scope="col"> W2 Count </th>
      <th scope="col"> W2 Delivery Address </th>
      <th scope="col"> Lookup ID </th>
      <th scope="col"> State </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let client of clients | client : filter2;">
      <td> {{ client.w2TransmissionId }} </td>
      <td> {{ client.branch }} </td>
      <td> {{ client.createdDate }} </td>
      <td> {{ client.employeeCount }} </td>
      <td> {{ client.transmissionFile }} </td>
      <td> {{ client.w2Count }} </td>
      <td> {{ client.w2DeliveryAddress }} </td>
      <td> {{ client.clientTypeId.lookupId }} </td>
      <td> {{ client.deliveryCodeTypeId.state }} </td>
    </tbody>
  </table>

  <!-- END data-table-component.html-->
</div>


</body>
</html>

